h2 {
    text-align: center;
    margin-bottom: .5rem;
}

img.direita {
    float: right;
}

div.paragrafo-duplo {
    display: flex;
    flex-direction: column;

    img {
        margin-left: .2rem;
    }
}

div.expansao-imagem:has(img.wybie) {
    transform: translate(-50%, -100%);
}
