@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #d5b7f6;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 20;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 1;
    height: 5rem;
    background-color: #3a3944;
    color: #ffffff;
    font-size: 20pt;

    button {
        position: absolute;
        left: 1rem;
    }
}

main {
    display: grid;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}

.paragrafo-imagem {
    margin: 1rem 0;
    display: block;
    width: 100%;
    background-color: #000000CC;
    color: #ffffff;
    border-radius: 1.2rem;
    padding: 1rem;
    justify-self: center;

    img {
        border-radius: 1.2rem;
    }

    @media screen and (max-width: 599px) {

        .container-imagem {
            display: flex;
            justify-content: center;
        }

        img {
            max-width: 100%;
            margin: 1rem;
        }

    }
    
    @media screen and (min-width: 600px) {
        img {
            float: left;
            max-height: 12rem;
            margin-right: .5rem;
            margin-bottom: .5rem;
        }

        #imagem-filme img {
            float: right;
            margin-right: 0;
            margin-left: .5rem;
        }
    }

    .expansao-imagem {
        position: absolute;
        z-index: 10;
        animation: expand 1.5s 1;
        height: 80vh;
        left: 50%;
        transform: translateX(-50%);

        img {
            padding: .5rem;
            max-height: 100%;
            border: solid #808080;
            border-radius: 4rem;
            background-color: #FFFFFF;
        }

    }

    p {
        width: 100%;
        text-align: justify;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4;
    min-height: 2.5rem;
    background-color: #3a3944;
    color: #ffffff;
    font-size: 16pt;
    text-align: center;
}

@keyframes expand {
    
    0% {
        max-height: 12em;
    }

    100% {
        max-height: 100%;
    }

}
